[*.cs]

# IDE0005: Using directive is unnecessary.
dotnet_diagnostic.IDE0005.severity = error

# IDE0008: Use explicit type
csharp_style_var_when_type_is_apparent = false
csharp_style_var_for_built_in_types = false
csharp_style_var_elsewhere = false
dotnet_diagnostic.IDE0008.severity = error

# IDE0017: Use object initializers
dotnet_diagnostic.IDE0017.severity = none

# IDE0018: Inline variable declaration
dotnet_diagnostic.IDE0018.severity = error

# IDE0060: Remove unused parameter
dotnet_diagnostic.IDE0060.severity = error

# IDE0090: Use 'new(...)'
dotnet_diagnostic.IDE0090.severity = error

# S1168: Empty arrays and collections should be returned instead of null
dotnet_diagnostic.S1168.severity = none

# S3267: Loops should be simplified with "LINQ" expressions
dotnet_diagnostic.S3267.severity = none

# S3963: "static" fields should be initialized inline
dotnet_diagnostic.S3963.severity = none

# SA1101: Prefix local calls with this
dotnet_diagnostic.SA1101.severity = none

# SA1117: Parameters should be on same line or separate lines
dotnet_diagnostic.SA1117.severity = none

# SA1121: Use built-in type alias
dotnet_diagnostic.SA1121.severity = none

# SA1200: Using directives should be placed correctly
dotnet_diagnostic.SA1200.severity = none

# SA1310: Field names should not contain underscore
dotnet_diagnostic.SA1310.severity = none

# SA1311: Static readonly fields should begin with upper-case letter
dotnet_diagnostic.SA1311.severity = none

# SA1413: Use trailing comma in multi-line initializers
dotnet_diagnostic.SA1413.severity = none

# SA1513: Closing brace should be followed by blank line
dotnet_diagnostic.SA1513.severity = none

# SA1633: File should have header
dotnet_diagnostic.SA1633.severity = none

# SA1516: Elements should be separated by blank line
dotnet_diagnostic.SA1516.severity = none

# TODO: those rules have been temporarily disabled but need to be fixed in the future

# CS1591: Missing XML comment for publicly visible type or member
dotnet_diagnostic.CS1591.severity = none

# S112: General exceptions should never be thrown
dotnet_diagnostic.S112.severity = none

# SA1600: Elements should be documented
dotnet_diagnostic.SA1600.severity = none

# SA1601: Partial elements should be documented
dotnet_diagnostic.SA1601.severity = none

# SA1602: Enumeration items should be documented
dotnet_diagnostic.SA1602.severity = none

# SA1616: Element return value documentation should have text
dotnet_diagnostic.SA1616.severity = none

