name: Generate documentation

on: workflow_dispatch

permissions:
  contents: read
  pages: write
  id-token: write

concurrency:
  group: "pages"
  cancel-in-progress: true

jobs:
  generate-documentation:
    environment:
      name: github-pages
      url: ${{ steps.deployment.outputs.page_url }}
    runs-on: windows-2022
    steps:
      - name: Checkout
        uses: actions/checkout@v4
        with:
          fetch-depth: 0
      - name: Install .NET
        uses: actions/setup-dotnet@v4
        with:
          dotnet-version: 9
      - name: Restore dependencies
        run: dotnet restore .\Source\VersOne.Epub\VersOne.Epub.csproj
      - name: Install DocFX
        run: dotnet tool install -g docfx
      - name: Run DocFX
        run: docfx metadata --logLevel verbose Documentation\docfx.json
        run: docfx build Documentation\docfx.json
      - name: Setup Pages
        uses: actions/configure-pages@v5
      - name: Upload artifact
        uses: actions/upload-pages-artifact@v3
        with:
          path: './Documentation/docfx_output'
      - name: Deploy to GitHub Pages
        id: deployment
        uses: actions/deploy-pages@v4
